name: ci

on:
  push:
  pull_request:
    branches:
    - main

defaults:
  run:
    shell: bash

env:
  LANG: en_US.utf-8
  LC_ALL: en_US.utf-8
  PYTHONIOENCODING: UTF-8

jobs:

  quality:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Fetch all tags
      run: git fetch --depth=1 --tags --force

    - name: Set up PDM
      uses: pdm-project/setup-pdm@v4
      with:
        python-version: "3.10"

    - name: Resolving dependencies
      run: pdm lock -v --no-cross-platform -G ci-quality

    - name: Install dependencies
      run: pdm install -G ci-quality

    - name: Check if the documentation builds correctly
      run: pdm run duty check-docs

    - name: Check the code quality
      run: pdm run duty check-quality

    - name: Check if the code is correctly typed
      run: pdm run duty check-types

    - name: Check for vulnerabilities in dependencies
      run: pdm run duty check-dependencies

    - name: Check for breaking changes in the API
      run: pdm run duty check-api

  tests:

    strategy:
      max-parallel: 4
      matrix:
        os:
        - ubuntu-latest
        python-version:
        - "3.10"
        - "3.12"
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.python-version == '3.12' }}

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up PDM
      uses: pdm-project/setup-pdm@v4
      with:
        python-version: ${{ matrix.python-version }}
        allow-python-prereleases: true

    - name: Resolving dependencies
      run: pdm lock -v --no-cross-platform -G ci-tests

    - name: Install dependencies
      run: pdm install --no-editable -G ci-tests

    - name: Install Icarus Verilog
      run: sudo apt install -y --no-install-recommends iverilog

    - name: Run the test suite
      run: pdm run duty test
      env:
        PYTHONPATH: src

